
.light-mode {
    background-color: #fff;
    color: #000;
    transition: background-color 0.4s;
}

.light-mode .button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.4s;
}

.button.selected {
    background-color: #ff0000;
    color: #fff;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
    transition: background-color 0.4s;
}

.dark-mode .button {
      display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.4s;
    background-color: #1E1E1E;
    color: #E1E1E1;
}

.dark-mode .button.selected {
    background-color: #ff0000;
    color: #fff;
}

#darkModeButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}